version: "3.9"

services:
  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672" # management UI

  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    depends_on:
      - redis
      - rabbitmq

  worker:
    build:
      context: .
      dockerfile: worker/Dockerfile
    depends_on:
      - redis
      - rabbitmq
